<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="True">
    <meta name="google-site-verification" content="-wCLVn0cdHUwc9mYnLNtaYt_BpOJ8vO7EfsFiU2TfxE" />

    <title>NOYSE BOSTON</title>

    {% assets "scss_all" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
</head>

<body>
get ready for noyse.

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/static/scss/concise.css-2.1.0/dist/js/concise.min.js"></script>
</body>
</html>
